#navbar {
    background-color: var(--navColor) !important;
}

#logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.carouselImg {
  width: 100%;
  height: 90vh; /* adjust this for desktop */
  object-fit: cover;
  /* border-radius: 10px; */
}

/* For tablets */
@media (max-width: 992px) {
  .carouselImg {
    height: 50vh;
  }
}

/* For mobile */
@media (max-width: 576px) {
  .carouselImg {
    height: 35vh;
    /* border-radius: 6px; */
  }
}


#cakeCont {
    height: 200px;
    width: 200px;

}